.front
{
	display:flex;
	flex-direction:column;
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
	background-color:black;	
}
.front .header
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.front .header .begin
{
	display:flex;
	height:30px;
}
.front .header .begin .text
{
	height:15px;
	width:30px;
	background-color:white;
	margin:10px;
}
.front .header .center
{
	display:flex;
	height:30px;
}
.front .header .center .text
{
	height:15px;
	width:30px;
	background-color:yellow;
	margin:10px;
}
.front .header .last
{
	display:flex;
	height:30px;
	margin:0px;
}
.front .header .last .text
{
	height:15px;
	width:30px;
	background-color:white;
	margin:10px;
}
.front .head
{
	display:flex;
	justify-content:center;
	margin:15px;
}
.front .head .text
{
	background-color:gray;
	height:100px;
	width:200px;
}
.front .content
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.front .content .text
{
	height:50px;
	width:100px;
	background-color:white;
	margin:15px;
}
.intro
{
	display:flex;
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
	flex-direction:column;
}
.intro .content
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	
}
.intro .content .text
{
	height:200px;
	width:400px;
	background-color:blue;
}
.intro .footer
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.intro .footer .text
{
	height:20px;
	width:40px;
	background-color:pink;
	margin:20px;
	margin-top:40px;	
}
.about
{
	display:flex;
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
	flex-direction:row;
}
.about .slide1
{
	display:flex;
}
.about .slide1 .text
{
	height:250px;
	width:350px;
	background-color:blue;
	margin:10px;
}
.about .slide2
{
	display:flex;
	flex-direction:column;
}
.about .slide2 .text
{
	height:30px;
	width:450px;
	background-color:pink;
	margin:20px;
}
.services
{
	display:flex;
	flex-direction:column;
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
}
.services .split1
{
	display:flex;
}
.services .split1 .text
{
	height:20px;
	width:40px;
	background-color:gray;
	margin:10px;
}
.services .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
	
}
.services .split .text
{
	height:150px;
	width:250px;
	background-color:pink;
	margin:5px;
}
.action
{
	display:flex;
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
	flex-direction:column;
	background-color:black;
}
.action .split1
{
	display:flex;
	flex-direction:column;	
}
.action .split1 .text
{
	height:50px;
	width:300px;
	background-color:white;
	margin:0px auto;
	margin-top:5px;
	margin-bottom:5px;
}
.action .split2
{
	display:flex;
	justify-content:center;
}
.action .split2 .text
{
	height:50px;
	width:200px;
	background-color:pink;
	margin:5px;
}
.portfolio
{
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
	display:flex;
	flex-direction:column;
	
}
.portfolio .split1
{
	display:flex;
	flex-direction:column;
}
.portfolio .split1 .text
{
	background-color:grey;
	height:20px;
	width:40px;
	margin:10px;
}
.portfolio .split3
{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.portfolio .split3 .text
{
	background-color:pink;
	height:25px;
	width:50px;
	margin:10px;
}
.portfolio .split2
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.portfolio .split2 .text
{
	background-color:yellow;
	height:150px;
	width:250px;
	margin:5px;	
}
.activities
{
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
	display:flex;
	flex-direction:row;
}
.activities .split1
{
	display:flex
}
.activities .split1 .text
{
	height:300px;
	width:300px;
	background-color:yellow;
	margin:10px;
}
.activities .split2
{
	display:flex;
	flex-direction:column;
}
.activities .split2 .split21
{
	display:flex;
	flex-direction:column;
}
.activities .split2 .split21 .text
{
	height:20px;
	width:200px;
	background-color:yellow;
	margin:0px auto;
	margin-top:5px;
	margin-bottom:5px;
}
.activities .split2 .split22
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.activities .split2 .split22 .text
{
	height:100px;
	width:230px;
	background-color:blue;
	margin:0px auto;
	margin-top:5px;
	margin-bottom:5px;
}
.end
{
	display:flex;
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
	flex-direction:column;
	justify-content:center;
	background-color:black;
}
.end .pic
{
	height:50px;
	width:50px;
	background-color:white;
	border-radius:100%;
	margin:0px auto;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
}
.end .text
{
	height:30px;
	width:60px;
	background-color:white;
	margin:0px auto;
	margin-top:5px;
	margin-bottom:5px;
}
.end .content
{
	height:50px;
	width:300px;
	background-color:white;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.members
{
	display:flex;
	flex-direction:column;
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
}
.members .split1
{
	display:flex;
	flex-direction:column;
	margin:10px;
}
.members .split1 .text
{
	height:30px;
	width:70px;
	background-color:gray;
}
.members .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	flex-wrap:wrap;
	
}
.members .split .text
{
	height:150px;
	width:200px;
	background-color:pink;
	margin:5px;
}
.contact
{
	margin:250px;
	margin-top:5px;
	margin-bottom:5px;
	display:flex;
	flex-direction:column;
}
.contact .box
{
	display:flex;
	flex-direction:column;
}
.contact .box .dark
{
	height:20px;
	width:80px;
	background-color:gray;
	margin:10px;
}
.contact .box .text
{
	height:150px;
	width:500px;
	background-color:brown;
	margin:0px auto;
	margin-bottom:10px;
	margin-top:10px;
}
.contact .split
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
}
.contact .split1
{
	display:flex;
	flex-direction:column;
}
.contact .split1 .text
{
	height:20px;
	width:50px;
	background-color:blue;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.contact .split2
{
	display:flex;
	flex-direction:column;
}
.contact .split2 .split21
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.contact .split2 .split21 .text
{
	height:20px;
	width:50px;
	background-color:blue;
	margin:10px;
}
.contact .split2 .split22
{
	display:flex;
	flex-direction:column;
}
.contact .split2 .split22 .text
{
	height:20px;
	width:150px;
	background-color:blue;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
}
.contact .split2 .split23
{
	display:flex;
	justify-content:center;
}
.contact .split2 .split23 .text
{
	height:20px;
	width:50px;
	background-color:pink;
	margin:10px;
}
.last 
{
	display:flex;
	flex-direction:column;
	margin:250px;	
	margin-top:10px;
	margin-bottom:10px;
}
.last .split1
{
	display:flex;
	flex-direction:row;
	background-color:black;
	justify-content:space-between;
}
.last .split1 .split11
{
	display:flex;
	flex-direction:row;
	margin:10px;
	justify-content:center;
}
.last .split1 .split11 .text
{
	height:100px;
	width:100px;
	background-color:white;
	margin:10px;
}
.last .split1 .split12
{
	display:flex;
	flex-direction:column;
}
.last .split1 .split12 .split121
{
	display:flex;
}
.last .split1 .split12 .split121 .text
{
	width:200px;
	height:30px;
	background-color:white;
	margin:0px auto;
	margin-right:10px;
	margin-top:30px;
	margin-bottom:10px;
}
.last .split1 .split12 .split122
{
	display:flex;
	flex-direction:row;
}
.last .split1 .split12 .split122 .tb
{
	width:70px;
	height:20px;
	background-color:white;
	margin:0px auto;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px;
}
.last .split1 .split12 .split122 .button
{
	width:50px;
	height:20px;
	background-color:purple;
	margin:0px auto;
	margin-left:0px;
	margin-top:10px;
	margin-bottom:10px;
}
.last .split2
{
	display:flex;
	justify-content:center;
	background-color:brown;
}
.last .split2 .text
{
	width:70px;
	height:20px;
	background-color:white;
	margin:30px;
}





