 .header .wrapper
 {
	width:100%;
    margin:auto;	
 }
 
  .banner .wrapper
 {
	width:80%;
    margin:auto;	
 }
 .information .wrapper
 {
	 width:100%;
	 margin:auto;	
 }
 .header
 {
	 background-color:black;
	 width:100%;
	 height:56px;
 }
 .header .header-fc
 {
	 display:flex;
	 justify-content:space-around;
 }
 .header .header-fc .home
 {
	 text-align:center;
	 background-color:yellow;
	 height:56px;
	 width:50%;
 }

 .header .header-fc .navi
 {
	 text-align:center;
	 background-color:pink;
	 height:56px;
	 width:50%;
 }
 .banner 
 {
	 width:100%;
	 height:500px;
 }
 .banner .banner-fc
 {
	 display:flex;
	 flex-wrap:wrap;
	 justify-content:space-between;
 }
 .banner .banner-fc .boxa
 {
	 text-align:center;
	 background-color:yellow;
	 height:400px;
	 width:45%;
	 margin-top:60px;
 }
 .banner .banner-fc .boxb
 {
	 text-align:center;
	 background-color:green;
	 height:400px;
	 width:45%;
	 margin-top:60px;
 }
  .banner .banner-fc .call
  {
	  text-align:center;
	  width:70%;
	  height:30px;
	  margin:auto;
	  margin-top:300px;
	  background-color:plum;
  }
 .tagline
 {
	 text-align:center;
	 margin:auto;
	 width:80%;
	 background-color:#009688;
	 height:80px;
	 margin-top:30px;
 }
 .information
 {
	 width:100%;
	 height:350px;
 }
 .information .information-fc
 {
	 display:flex;
	 justify-content:space-evenly;
 }
 .information .information-fc .card-a
 {
	 margin-top:50px;
	 text-align:center;
	 width:350px;
	 height:263px;
	 background-color:crimson;
 }
 .information .information-fc .card-b
 {
	 margin-top:50px;
	 text-align:center;
	 width:350px;
	 height:263px;
	 background-color:crimson;
 }
 .information .information-fc .card-c
 {
	 margin-top:50px;
	 text-align:center;
	 width:350px;
	 height:263px;
	 background-color:crimson;
 }
 .copyright
 {
	 width:100%;
	 background-color:#009688;
	 height:80px;
	 text-align:center;
 }
 
	 
	 
	 
	 
	 
	 
	 
	 
	 